main{
 
    
}
.close_button{
    font-size: 40px !important;
}
.modal-header
{
    width: 100%;
}


.google_button button{
    background-color: tomato;
}
.fa-google-plus , .fa-facebook{
    font-size: 22px;
    margin-right: 10px;
}
.message{
    color:red;
}