h2{
    margin: 0px !important;
}
.img-responsive{
    width: 100%;
}
/* .topnav{
    padding: 20px !important;
} */
.desc{
    position: relative;

}
.description{
    font-size: 20px;
}
#style_button {
	background: transparent;
	color: #F0F0F0;
	border: 2px solid #F0F0F0;
	font-size: 10px;
	letter-spacing: 2px;
	padding: 10px 55px;
	text-transform: uppercase;
	cursor: pointer;
	display: inline-block;
	margin: 15px 30px;
	-webkit-transition: all 0.4s;
   -moz-transition: all 0.4s;
   transition: all 0.4s;
  }
  #style_button:hover, #style_button:focus {
	background-color: white;
	color: #333333;
  }
