.container {
    padding: 25px;
    background: #333;
  }
  
  .slick-slide img {

    width: 100%;
    height: auto;
    margin: auto;
    align-content: center;
    /* margin-top: 20px; */
    
  }

  

  /* @media (max-width: 332px) {
    .slick-slide img {
      height: 170px;
    }
  } */

  .slick-dots li.slick-active button:before{
    font-size: 15px !important;
    color: white !important;
  }