.header {
  width: 100%;
  cursor: pointer;
  /* position: fixed; */
  display: flex;
  justify-content: left;
  text-transform: uppercase;
  /* background-color: #39445a; */
  background-color: #333;

  font-family: "Montserrat", sans-serif;
  font-size: 5vw;
  box-shadow: 0px 1px 5px black;
  color: white;
  z-index: 100;
  font-size: 40px;
}
.header_logo img{
  height: 60px;
  display: inline-block;
  width: 100px;  
}

@media (max-width: 1000px) {
  .header {
    font-size: 6.4vw;
  }
}

.topnav {
  overflow: hidden;
  background-color: #333;
}

.topnav a {
  color: #f2f2f2;
  text-align: center;
  padding: 24px 16px;
  text-decoration: none;
  font-size: 23px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #4CAF50;
  color: white;
  margin-left: 50px;
}
.search-box{
  height: 60px;
  width: 200px;
  background: hsla(0,0%,100%,.25);
  color: red;
}
@media (max-width: 600px) {
  .search-box {
   display: none;
  }
  .topnav{
    display: none;
  }
}

::placeholder {
  color: white;
  font-size: 20px;
 text-align: center;
}
.user_login a{
  text-align: right;
}
.login_in{
  margin-left: 70px;
}
.subscribe{
  background-color: #b43bb0;
}
#producer{
  margin-left: 20px;
  margin-top: 10px;
}
.producer{
  padding: 0px !important;
}
.logout_button{
  margin-top: 5px;
}