h2{
	padding: 20px;
}
p{
	color: #9d5f8f;
	margin: 0px !important;
}
h3{
	margin: 0px !important;
	color: #9d5f8f;

}
.main h4{
	color: #9d5f8f;
}

input{
	width: 100%;
	height: 40px;
	font-size: 20px;
}

#style_button {
	background: transparent;
	color: #F0F0F0;
	border: 2px solid #F0F0F0;
	font-size: 15px;
	letter-spacing: 2px;
	padding: 20px 75px;
	text-transform: uppercase;
	cursor: pointer;
	display: inline-block;
	margin: 15px 30px;
	-webkit-transition: all 0.4s;
   -moz-transition: all 0.4s;
   transition: all 0.4s;
  }
  #style_button:hover, #style_button:focus {
	background-color: white;
	color: #333333;
  }
  #inputState{
	width: 100%;
    height: 55px;
	font-size: 20px;
	margin-bottom: 10px;
  }
  ::placeholder{
	  color: black;
  }
 .MuiInputBase-input{
	 background-color: white !important;
 }
 .MuiInputLabel-outlined.MuiInputLabel-shrink{
	 color: rgb(98, 66, 241) !important;
font-size: 25px !important;
 }
 .MuiOutlinedInput-root{
	 margin-top: 20px !important;
 }
 .MuiGrid-spacing-xs-2 > .MuiGrid-item {
	margin-top: 6px !important;
}
.MuiInputLabel-outlined{
	color: black !important;
font-size: 20px !important;
}
#castsss{
    background-image: url(https://help.myemma.com/servlet/rtaImage?eid=ka73b00000000s4&feoid=00N1J00000FHVXf&refid=0EM1J000000xXjy);
	background-position: 7px 7px;
    background-repeat: no-repeat;
	height: 160px !important;
	color: black;
	font-size: 25px;
	margin-top: 20px;
}
#castsss-label{
	 color: rgb(98, 66, 241) !important;
}
#sensor-certificates{
	margin-top: 30px;
}
.add_image{
	background-color: #f7f9fc;
margin-top: 5px;
}
.add_description{
	background-color: #f7f9fc;
	margin-top: 5px;}
	label{
		color: black !important;
	}
	.MuiGrid-root {
		padding: 10px !important;
	}